<!-- index page -->
<!DOCTYPE html>
<html>
  <head>
    <!-- <title>ChatHerbox</title> -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  </head>

  <body>
<!-- This section includes a header for the site’s (plain-text) logo, a couple of divisions (using the div tag), and a list of elements with navigation links: -->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ChatHERbox Logo", '#', id: "logo" %> <!-- This uses the Rails helper link_to to create links, see Hartl 3.2.2-->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ABOUT",   '#' %></li> <!-- add real URLs for links -->
            <li><%= link_to "SIGN UP",   '#' %></li>
            <li><%= link_to "CONTACT", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>

<!-- For the main content -->
    <div class="container">
      <div="landing-parent"> <!--background image in css -->
        <div class="landing-content"></div>
      </div>
      <!-- yield method inserts the contents of each page into the site layout -->
      <%= yield %>
    </div>

  </body>
</html>

<!-- Add site footer, see Hartl 5.1.3 -->

