<!-- index page -->
<!DOCTYPE html>
<html>
  <head>
    <!-- <title>ChatHerbox</title> -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
  </head>

  <body>


      <!-- The alert message that users see after logging in, so move this content into its own view -->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      <!--  -->

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/index.js"></script>
  </body>
</html>
